# Analyze the Feed axis data

### Q1 a81nxはどんな機械か？調査せよ / What kind of machine is a81nx? Investigate.
  - 立形 or 横形 ?　主軸の種類は？　大きさは？　など
  - vertical or Horizontal? Variation of Spindle? What is size? etc.

### Q2 X軸、Y軸、Z軸往復動作それぞれトルク平均値について、ヒストグラムを作成せよ<br>
Make a histogram for each of the X-axis, Y-axis, Z-axis. <br>
データ…C95_a81nx_WDAx02_TCMDA.csv

まずモジュールを読み込む

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

目的のCSVファイルをpandasのdataframe形式で読み込む

In [4]:
df_csv = pd.read_csv('C95_a81nx_WDAx02_TCMDA.csv', index_col=0)

pandasのdataframeの先頭5行を出力する

In [7]:
df_csv.head()

    SN        date axis  scale  section   TCMD-A-1   TCMD-A-2
0  465  2017/11/25    X      1        2   5.401357  -5.077860
1  465  2017/11/25    Y      1        2  20.205510  13.520459
2  465  2017/11/25    Z      1        2   3.759887  -3.502716
3  475   2017/12/5    X      1        2   5.031119  -4.736860
4  475   2017/12/5    Y      1        2  15.270975   8.562764

ヒストグラムを作成する

In [13]:
dfx = df_csv[0::3]
dfx.head()

     SN        date axis  scale  section  TCMD-A-1  TCMD-A-2
0   465  2017/11/25    X      1        2  5.401357 -5.077860
3   475   2017/12/5    X      1        2  5.031119 -4.736860
6   476  2017/11/17    X      1        2  4.639348 -4.430776
9   477  2017/11/17    X      1        2  5.499441 -5.442840
12  492   2017/11/1    X      1        2  4.894832 -4.538047

In [11]:
dfy = df_csv[1::3]
dfy.head()

     SN        date axis  scale  section   TCMD-A-1   TCMD-A-2
1   465  2017/11/25    Y      1        2  20.205510  13.520459
4   475   2017/12/5    Y      1        2  15.270975   8.562764
7   476  2017/11/17    Y      1        2  19.776772  13.055692
10  477  2017/11/17    Y      1        2  20.359478  12.865057
13  492   2017/11/1    Y      1        2  20.000813  13.408944

In [12]:
dfz = df_csv[2::3]
dfz.head()

     SN        date axis  scale  section  TCMD-A-1  TCMD-A-2
2   465  2017/11/25    Z      1        2  3.759887 -3.502716
5   475   2017/12/5    Z      1        2  4.117086 -3.873165
8   476  2017/11/17    Z      1        2  3.657362 -3.535495
11  477  2017/11/17    Z      1        2  4.079577 -3.948568
14  492   2017/11/1    Z      1        2  3.287162 -3.389565

### Q3　トルク平均値データについて分析せよ / Analyze the data of average value of the torque.